---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kontak Kami</Fragment>
      <Fragment slot="desc">kami hadir untuk membantu anda !</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">kontak EZHOTEL</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Ada yang ingin dikatakan? Kami di sini untuk membantu. Isi formulir
          atau kirim email atau telepon panggilan.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Sleman, Yogyakarta</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:alvinchristianto93@gmail.com"
              >alvinchristianto93@gmail.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-teal-800 font-bold">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              target="_blank"
              href="https://wa.me/6285729577104?text=Halo,%20saya%20ingin%20bekerjasama%20dengan%20EZHOTEL"
              >+62 85 729 577 104 (Whatsapp)</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
