---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Kemudahan Penggunaan",
    description:
      "Sistem billing kami dirancang dengan antarmuka yang intuitif dan mudah dipahami, bahkan oleh staf yang tidak memiliki latar belakang akuntansi.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Akurasi dan Efisiensi",
    description:
      "Otomatisasi perhitungan dan integrasi data meminimalisir risiko kesalahan manusia",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Berbagai Manfaat bagi Hotel",
    description:
      "Meningkatkan produktivitas staf: Staf dapat menyelesaikan tugas billing dengan lebih cepat dan efisien. Proses check-out yang cepat dan akurat memberikan pengalaman yang lebih baik bagi tamu. ",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Apa yang dapat EZHOTEL berikan
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Kami hadir dengan sistem billing yang dirancang khusus untuk menghilangkan
    kerumitan dan meminimalisir kesalahan.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
